
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Review Recipe</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/recipestyler.css" />
</head>
<body>
    <div class="navbar">
        <nav>
            <a asp-action="Index">Home</a>
            <a asp-action="RecipeList">Recipes List</a>
            <a asp-action="AddRecipe">Add Recipes</a>
            <a asp-action="ViewRecipe">View Recipes</a>
            <a class="active">Reviews</a>
        </nav>
    </div>
    <div class="content">
        <h1>Recipe List</h1>
        <h2>In this page we can leave a review on a recipe</h2>
    </div>
</body>
</html>
