<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Review Recipe</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/recipestyler.css" />
</head>
<body>
    <div class="content">
        <h2>In this page we can leave a review on a recipe</h2>
    </div>
</body>
</html>
