@model  RecipeSite.Models.Recipe
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Recipe</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/recipestyler.css" />
</head>
<body>
    <div class="content">


    </div>
</body>
</html>
