body {
    background-color: #eef2ff;
}

.navbar {
    float: left;
    width: 100%;
    background: black;
    padding: 0;
}

.navbar a {
    text-align: center;
    padding: 22px 25px;
    float: left;
    color: #eef2ff;
}

.navbar a.active {
    background: cyan;
}
